body{
	background-color: bisque;}

#nav{
	display: none;
}

.barraNav{
	text-align: center;
	background-image: linear-gradient(rgb(122, 86, 86) , rgba(122, 86, 86, 0.774) );
}

.slider img{
	margin-top: 5px;
}

#navbarSupportedContent a{
	color: white;
}
 
.container #historia{
	text-align: center;
	font-size: 20px;
	background-color:rgba(122, 86, 86, 0.13) ;
	margin-top: 20px;
	padding: 30px;
	border-radius: 50px 10px;
}

.container #fraseEfeito{
	text-align: center;
	font-size: 25px;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin-top: 20px;
}

.container .tratamentos figure{
	margin: 10px;
	text-align: center;
}

.container .tratamentos img{
	border-radius: 10px;
}

.container #carouselExampleIndicators .carousel-inner{
	text-align: center;
}

.container #carouselExampleIndicators .carousel-inner img{
	border-radius: 10px;
}

.container .tratamentos{
	text-align: center;
}

.container .tratamentos figure{
	display: inline-block;
}

.container .tratamentos figure img:hover{
	width: 265px;
}

.container #saibaMais{
	text-align: center;
	margin-right: 25%;
	margin-left: 25%;
	font-size: 20px;
	background-color:rgba(122, 86, 86, 0.13) ;
	margin-top: 20px;
	border-radius: 50px 10px;
}

.container #saibaMais a{
	color: black;
	text-decoration: none;
}

.container #saibaMais:hover{
	font-size: 21px;
}

.map-responsive{
    overflow:hidden;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
}

footer{
	margin-top: 50px;
	text-align: center;
	background-color:rgba(122, 86, 86, 0.13) ;
	margin-bottom: -18px;
	padding: 5px;
	
}

footer #icone{
	width: 20px;
	margin-left: 10px;
	margin-bottom: 15px;
}

footer #direitos{
	font-size: 10px;
}

footer #direitos p a{
	text-decoration: none;
	color:currentColor;
}


.container #tratamento{
	font-size: 20px;
	color: white;
	margin-top: 30px;
	text-align: center;
}

.container #tratamento ol{
	margin-block-start: 0;
	padding-inline-start: 0;
}

.container #tratamento ol a{
	color: currentColor;
	text-decoration: none;
	list-style: none;
	display: inline-block;
	text-align: center;
	width: 250px;
	margin-bottom: 20px;
	border-radius: 10px;
	padding: 10px;
	background-image: linear-gradient(rgba(122, 86, 86, 0.527), rgba(122, 86, 86, 0.986));
}

.container #tratamento a:hover{
	font-size: 21px;
}

@media(max-width: 991px){

	#nav{
		display: block;
	}

	#nav2{
		display: none;
	}

	.container #carouselExampleIndicators .carousel-inner img{
		width: 100%;
	}
	
}
